.portfolio-php .four.columns.mobile-two {position:relative;}

.portfolio-view { 
	background: url(../img/portfolio/hover.png) repeat;
	position:absolute;
	top:0;
	bottom:0;
	left:8px;
	right:8px; 
	text-align: center;
	display:none;
	
	
	h4 { color:$secondaryColor; font-weight:300; margin-top:2em;
	
		span {
		color: $grey; display: block; line-height:1.69230769;
		font-size: 0.61904762em; font-family: $sans; }
	
		} 
	}
	
	
.portfolio-thumb {
	float:left; margin:0; padding:0; border:1px solid $imagestroke; display:table; width:100%;
	img {display:block;}}	
	
.portfolio-thumb img {
	width: 100%;}	
	
.portfolio-thumb:hover .portfolio-view { display:block;}
	
		
	
.portfolio-items [class*="column"] + [class*="column"]:last-child { float:left;}
.portfolio-items .four {margin-top:15px;}


@media only screen and (max-width: 950px) {

	.portfolio-items .column, .portfolio-items .columns {padding:0 7.5px;}}
	
	
@media only screen and (max-width: 767px){
	
	.row .portfolio-items .mobile-two {width:33% ! important;} }
	
	
@media only screen and (max-width: 480px){
	
	.row .portfolio-items .mobile-two {width:50% ! important;} }


	